@import "variables";

html {
    box-sizing: border-box;
    font-size: 100%;
}

body {
    background-color: #FFFFFF;
    font-family: 'Alata', sans-serif;
    margin: 0 auto;
    max-width: 1440px;
    padding: 0;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: 'Josefin Sans', sans-serif !important;
    font-weight: 300;
    margin: 0;
}

main {
    padding: 160px 160px 184px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

// Custom Items
.show-nav {
    left: 0 !important;
}

.slider-bottom {
    position: relative;
}

.slider-bottom::after {
    content: "";
    background-color: $white;
    height: 2px;
    left: 0;
    position: absolute;
    top: 110%;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
    width: 100%;
}

.slider-bottom:hover::after {
    transform: scaleX(1);
}

.button-none {
    display: none;
}

// Primary
.header {
    background: url("images/desktop/image-hero.jpg") no-repeat center;
    background-size: cover;
    height: 650px;
    padding: 60px 160px 0;
    position: relative;
    width: 100%;

    &__overlay {
        background-color: rgba(0, 0, 0, 0.3);
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    position: relative;

    &__nav_container {
        display: flex;
    }

    &__block {
        align-items: center;
        display: none;
        justify-content: space-between;
        width: 100%;
    }

    &__link {
        color: $white;
        display: block;
        font-size: 15px;
        margin-left: 2rem;
        position: relative;
    }

    &__burger {
        cursor: pointer;
        display: none;
        height: 20px;
        width: 26px;
    }
}

.hero {
    border: 2px solid $white;
    color: $white;
    font-size: 66px;
    margin-top: 8rem;
    position: relative;
    padding: 44px 48px;
    text-transform: uppercase;
    width: 620px;
}

.top {
    align-items: flex-end;
    display: flex;
    position: relative;
    width: 100%;

    &__image {
        height: 500px;
        width: 715px;
    }

    &__mbl_image {
        display: none;
    }

    &__container {
        background-color: $white;
        padding: 94px 0 0 90px;
        position: absolute;
        right: 0;
        width: 560px;
    }

    &__title {
        font-size: 54px;
        margin-bottom: 1rem;
        text-transform: uppercase;
    }

    &__desc {
        color: $d-gray;
        line-height: 24px;
        margin: 0;
    }
}

.creation {
    margin: 176px 0 0 0;

    &__top {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 0 0 90px 0;
        width: 100%;
    }

    &__brand {
        font-size: 48px;
    }

    &__button {
        border-radius: 2px;
        border: 1px solid $black;
        color: $black;
        font-family: 'Josefin Sans', sans-serif !important;
        font-weight: 600;
        letter-spacing: 3px;
        padding: 14px 38px;
        transition: all 0.3s ease;
    }

    &__button:hover {
        background-color: $black;
        color: $white;
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 450px);
        gap: 30px;
    }

    &__block {
        align-items: flex-end;
        cursor: pointer;
        display: flex;
        padding: 0 32px 40px;
        position: relative;
    }

    &__block:hover>&__overlay {
        background-color: rgba(255, 255, 255, 0.5);
    }

    &__block:hover>&__title {
        color: $black;
        font-weight: 600;
    }

    &__overlay {
        background-color: rgba(0, 0, 0, 0.3);
        height: 100%;
        left: 0;
        position: absolute;
        transition: background-color 0.3s ease;
        top: 0;
        width: 100%;
    }

    &__title {
        color: $white;
        font-size: 2rem;
        text-transform: uppercase;
        position: relative;
        transition: color 0.3s ease;
    }

    &__block:nth-of-type(1) {
        background: url("images/desktop/image-deep-earth.jpg") no-repeat center;
    }

    &__block:nth-of-type(2) {
        background: url("images/desktop/image-night-arcade.jpg") no-repeat center
    }

    &__block:nth-of-type(3) {
        background: url("images/desktop/image-soccer-team.jpg") no-repeat center
    }

    &__block:nth-of-type(4) {
        background: url("images/desktop/image-grid.jpg") no-repeat center
    }

    &__block:nth-of-type(5) {
        background: url("images/desktop/image-from-above.jpg") no-repeat center
    }

    &__block:nth-of-type(6) {
        background: url("images/desktop/image-pocket-borealis.jpg") no-repeat center
    }

    &__block:nth-of-type(7) {
        background: url("images/desktop/image-curiosity.jpg") no-repeat center
    }

    &__block:nth-of-type(8) {
        background: url("images/desktop/image-fisheye.jpg") no-repeat center
    }
}

.last {
    background-color: $black;
    color: $white;
    display: grid;
    gap: 24px 0;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    justify-content: space-between;
    padding: 42px 160px;


    &__logo {
        width: 160px;
    }

    &__block {
        display: flex;
    }

    &__block:nth-of-type(2) {
        justify-content: flex-end;
    }

    &__icon {
        margin-left: 15px;
    }

    &__link {
        color: $white;
        margin-right: 2rem;
    }

    &__copyright {
        color: $vd-gray;
        font-size: 14px;
    }
}


// Secondary

// Medias
@media (max-width: 1000px) {

    main {
        padding: 80px 24px 64px;
    }

    .header {
        background-image: url("images/mobile/image-hero.jpg");
        padding: 32px 24px;
    }

    .navbar {

        &__nav_container {
            align-items: flex-start;
            background-color: $black;
            display: flex;
            flex-direction: column;
            height: 100%;
            left: 100%;
            padding: 32px 24px;
            position: fixed;
            top: 0;
            transition: left 0.3s ease;
            width: 100%;
            z-index: 100;
        }

        &__block {
            display: flex;
            margin-bottom: 134px;
            width: 100%;
        }

        &__close {
            cursor: pointer;
        }


        &__link {
            display: block;
            font-size: 1.4rem;
            font-family: 'Alata', sans-serif;
            margin: 0;
            padding: 14px 0;
            text-transform: uppercase;
        }

        &__burger {
            display: flex;
        }
    }

    .hero {
        margin: 8rem auto;
    }

    .top {
        align-items: center;
        flex-direction: column;

        &__container {
            padding: 64px 32px;
            position: static;
            text-align: center;
            width: 100%;
        }

        &__desc {
            line-height: 2rem;
        }
    }

    .creation {
        margin: 64px 0;

        &__container {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 450px);
        }

        &__block {
            background-size: cover !important;
        }
    }
}

@media (max-width: 700px) {

    .button-none {
        display: block !important;
        margin: 2rem auto;
        padding: 14px 29px;
        text-align: center;
        width: 147px;
    }

    .hero {
        font-size: 40px;
        padding: 26px;
        width: 100%;
    }

    .top {

        &__image {
            display: none;
        }

        &__mbl_image {
            display: block;
            width: 100%;
        }

        &__container {
            padding: 64px 32px;
        }

        &__title {
            font-size: 36px;
        }
    }

    .creation {

        &__top {
            justify-content: center;
            margin: 0 0 56px;
        }

        &__brand {
            font-size: 36px;
        }

        &__button {
            display: none;
        }

        &__container {
            grid-template-columns: 100%;
            grid-template-rows: repeat(8, 120px);
        }

        &__block {
            padding: 0 100px 22px 22px;
        }

        &__block:nth-of-type(1) {
            background-image: url("images/mobile/image-deep-earth.jpg");
        }

        &__block:nth-of-type(2) {
            background-image: url("images/mobile/image-night-arcade.jpg");
        }

        &__block:nth-of-type(3) {
            background-image: url("images/mobile/image-soccer-team.jpg");
        }

        &__block:nth-of-type(4) {
            background-image: url("images/mobile/image-grid.jpg");
        }

        &__block:nth-of-type(5) {
            background-image: url("images/mobile/image-from-above.jpg");
        }

        &__block:nth-of-type(6) {
            background-image: url("images/mobile/image-pocket-borealis.jpg");
        }

        &__block:nth-of-type(7) {
            background-image: url("images/mobile/image-curiosity.jpg");
        }

        &__block:nth-of-type(8) {
            background-image: url("images/mobile/image-fisheye.jpg");
        }

        &__title {
            font-size: 28px;
        }
    }

    .last {
        grid-template-columns:(1fr);
        grid-template-rows: repeat(4, auto);
        justify-items: center;
        padding: 56px 24px;

        &__block:nth-of-type(2) {
            grid-row: 3 / 4;
        }

        &__block:nth-of-type(3) {
            align-items: center;
            flex-direction: column;
            grid-row: 2 / 3;
        }

        &__link {
            margin: 1rem 0;
        }
    }
}